project_id = "jufvrlenxbcmohpkuvlo"

[functions.price-check]
verify_jwt = false

[functions.create-checkout]
verify_jwt = false

[functions.customer-portal]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false
